<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="172520154254-53qmq7n798driktlk5nc8uqu277tv2t1.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        {%load static%}
        <script src="{% static 'store_app/js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'store_app/css/master.css' %}">
    </head>
    <body>
        {% include '../includes/login_buttons.html' %}
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Subtotal</th>
            </tr>
            {% for item in products_and_prices %}
            <tr>
                <td>{{item.name}}</td>
                <td>${{item.price}}</td>
                <td>{{item.amount}}</td>
                <td>${{item.subtotal}}</td>
            </tr>
            {% endfor %}
        </table>
        <h4>Total amount: ${{ total_price }}</h4>
    </body>
</html>