<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="172520154254-53qmq7n798driktlk5nc8uqu277tv2t1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>

<body>
    PH
    {% include '../includes/login_buttons.html' %}
</body>

</html>